<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Multicortes_Estad&#237;sticos</Name><AddInID>{a48aebfe-3df4-4ab3-aac3-70d221fde2c6}</AddInID><Description>Realiza el corte de multiples capas y crea tablas con las estad&#237;sticas</Description><Version>0.1</Version><Image>Images\W88PSxap.png</Image><Author>Carlos Cano, Fernando Pineda</Author><Company>UPRA</Company><Date>02/10/2017</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="Multicortes_addin.py" namespace="Multicortes_addin"><ArcMap>
    <Commands>
        <Button caption="Multicortes" category="Multicortes_Estad&#237;sticos" class="ButtonMulticortes" id="Multicortes_addin.ButtonMulticortes" image="Images\f3f882427d71c20daa4f7cb7ad7ed085_ribbon-cutting-clipart-cuts-clipart_490-400.gif" message="Realiza Cortes y Construye Estad&#237;sticas" tip="Realiza Cortes y Construye Estad&#237;sticas"><Help heading="Realiza Cortes y Construye Estad&#237;sticas">Realiza Cortes y Construye Estad&#237;sticas</Help></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Upra_An&#225;lisis_Tools" category="Multicortes_Estad&#237;sticos" id="Multicortes_addin.toolbar" showInitially="true"><Items><Menu refID="Multicortes_addin.menu" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        <Menu caption="Presentaciones" category="Multicortes_Estad&#237;sticos" id="Multicortes_addin.menu" isRootMenu="false" isShortcutMenu="false" separator="false"><Items><Button refID="Multicortes_addin.ButtonMulticortes" /></Items></Menu>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>